<% @articles = articles if defined? articles %>
<% if !@articles.nil? %>
<% if @search %>
<% if !@articles.count > 0  %>
<h3 class="section-heading">By <%= by.capitalize %></h3>
<% end %>
<% end %>
<div class="row">
  <% @articles.each do |article| %>
    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <div class="panel article-panel articel-at-list">
        <div class="panel-body">
          <a href="<%= open_article article %>">
            <div class="row">
              <div class="col-sm-12 col-xs-5">
                <div class="article-head-image" style="background-image:    url(<%= article.image.url if !article.image.to_s.empty? %>);">
                  <div class="article-author-badge">
                    <span class="article-author-icon" style="background-image:    url(<%= article.user.image.url if !article.user.image.to_s.empty? %>);"></span>
                    <span class="article-author-text"><%= "#{article.user.name.split(' ').first} #{article.user.name.split(' ').last}" %></span>
                  </div>
                  <div class="article-badge-container">
                    <div class="article-badge">
                      <%= article.category.name %>
                    </div>
                    <div class="article-date-container">
                      <span class="article-date-text">
                        <%= article.date_time %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-xs-7 article-head-container">
                <div class="caption">
                  <a href="<%= open_article article %>"><h3 class="thumbnail-head"><%= article.title %></h3></a>
                  <div class="thumbnail-text"><%= article.content.html_safe %></div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if action_name == 'news' %>
<div class="text-center">
  <%= will_paginate @articles,inner_window: 1, outer_window: 1 %>
</div>
<% end %>
<% end %>
