<% if !@picked_articles.empty? %>
<div id="carousel-list" class="carousel slide main-carousel" data-ride="carousel">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <% @articles.each_with_index do |article, index| %>
      <li data-target="#carousel-list" data-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>"></li>
      <li data-target="#carousel-list" data-slide-to="<%= index %>"></li>
    <% end %>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% @picked_articles.each_with_index do |article, index| %>
      <div class="item <%= 'active' if index == 0 %>">
        <div class="fill-image" style="background-image:    url(<%= article.image.url if !article.image.to_s.empty? %>);"></div>
        <div class="carousel-caption">
          <div class="carousel-caption-text">
            <%= article.title %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control main-carousel-control left-main-carousel-control" href="#carousel-list" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control main-carousel-control right-main-carousel-control" href="#carousel-list" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% end %>
