<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <%= render 'components/alert', notice: notice %>
    <div class="panel  ">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-8">
            <label class="table-head-panel"><%= "#{@article.title[0..60]}..." %></label>
          </div>
          <div class="col-xs-4">
            <div class="text-right">
              <ul class="list-inline">
                <% if current_user.approve? %>
                <li><%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-default' %></li>
                <li><%= link_to 'Back', articles_path, class: 'btn btn-default' %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-7">
            <div class="view-image-container">
              <%= image_tag (@article.image.url || image_path('default.png') ), class: 'view-image' %>
            </div>
          </div>
          <div class="col-sm-5">
            <ul class="list-unstyled">
              <li>
                <h4>Headling</h4>
                <%= @article.headline %>
              </li>
              <li>
                <h4>Author</h4>
                <%= @article.author %>
              </li>
              <li>
                <h4>Category</h4>
                <%= @article.category.name %>
              </li>
              <li>
                <h4>Published</h4>
                <%= @article.date_published %>
              </li>
              <li>
                <h4>Tags</h4>
                <%= @article.tag_list %>
              </li>
            </ul>
          </div>
          <div class="col-sm-12">
            <div class="panel  ">
              <div class="panel-body content-container">
                <%= @article.content.html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
