<div class="row">
  <div class="col-md-8">
    <%= render 'components/headlines' %>
    <div class="section-container">
      <%= render 'components/latest_videos' %>
    </div>
    <div class="section-container">
      <%= render 'components/latest_articles' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <%= render 'components/ad_square' %>
      <%= render 'components/ad_square' %>
      <%= render 'components/ad_square' %>
    </div>
  </div>
</div>
