<div class="row">
  <div class="col-md-8">
    <%= render 'components/headlines' %>
    <%= render 'components/latest_videos' %>
    <%= render 'components/latest_articles' %>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-12">
        <%= render 'components/ad_square' %>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-12">
        <%= render 'components/ad_square' %>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-12">
        <%= render 'components/ad_square' %>
      </div>
    </div>
  </div>
</div>
