<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel article-panel">
      <div class="panel-body article-content">
        <div class="img-main" style="background: url(<%= @article.image.url %>)">
          <div class="img-dimmed"></div>
        </div>
        <div class="article-heading">
          <div class="row">
            <div class="col-xs-6">
              <div class="article-author">
                <i class="fa fa-user"></i>
                <%= @article.author %>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="article-date">
                <i class="fa fa-calendar-o"></i>
                <%= @article.date_published %>
              </div>
            </div>
          </div>
        </div>
        <div class="article-paragraph">
          <%= @article.content.html_safe %>
        </div>
        <div class="article-shared">
          Share on : <%= render_shareable :static_link => true %>
        </div>
      </div>
      <div class="panel-body article-comment">
        <%= render_disqus(open_article(@article)) %>
      </div>
    </div>
  </div>
</div>
