<%= simple_form_for(@category) do |f| %>
  <%= render 'components/error', form: @category %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <ul class="list-inline table-heading">
        <li><label class="table-head-panel"><%= action_name.to_s.capitalize %> Category</label></li>
        <li class="pull-right">
          <ul class="list-inline">
            <li><%= link_to 'Back', categories_path, class: 'btn btn-primary' %></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12"><%= f.input :name %></div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
